<h1>NorthWind Employee</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading...</em></p>

<div class="col-md-12">
  <div class="table-responsive">
    <table *ngIf="employees" class="table table-sm table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees">
          <ng-template [ngIf]="employee?.employeeID != e.employeeID" [ngIfElse]="detail">
            <td>
              {{ e.employeeID }}
            </td>
            <td>
              <em>{{ e.titleOfCourtesy }}</em> {{ e.firstName }}
              {{ e.lastName }}
            </td>
            <td>{{ e.title }}</td>
            <td>
              <button class="btn btn-info btn-sm ml-1"
                      (click)="selectEmployee(e.employeeID)">
                Details
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #detail>
  <td colspan="4" class="bg-light border open p-3">
    <employee-detail></employee-detail>
    <div class="text-left pt-3">
      <button class="btn btn-info ml-1" (click)="clearEmployee()">
        Close
      </button>
    </div>
  </td>
</ng-template>
